<div class="flex flex-col gap-2 p-2  border-b border-[#3b3b3b]">
  <div class="flex items-center gap-2">
    <img class="w-10 h-10 rounded-full" src="{{ post.userImage }}" alt="User avatar" loading="lazy">
    <span class="text-white text-sm">{{ post.user }}</span>
  </div>

  <p class="text-white text-sm">{{ post.content }}</p>

  @if(post.postImage) {
  <div class="w-full flex justify-start">
    <img class="h-auto  w-80 object-cover rounded sm:w-2xl" src="{{ post.postImage }}" alt="Post image" loading="lazy">
  </div>

  }


  <div class="flex items-center gap-2">
    <button (click)="likePost(post)"
      class="flex items-center gap-1 text-white text-sm hover:bg-gray-200 hover:text-black cursor-pointer p-1">
      <fa-icon [class.text-blue-500]="post!.liked" [icon]="faThumbsUp "></fa-icon>
      <span>Like</span>
    </button>
    <button class="flex items-center gap-1 text-white text-sm hover:bg-gray-200 hover:text-black cursor-pointer p-1">
      <fa-icon [icon]="faComment"></fa-icon>
      <span>Comment</span>
    </button>
    <button class="flex items-center gap-1 text-white text-sm hover:bg-gray-200 hover:text-black cursor-pointer p-1">
      <fa-icon class="" [icon]="faSmile"></fa-icon>
      <span>Reactions</span>
    </button>
  </div>


</div>