<div class="flex p-2 flex- border-b border-[#3b3b3b]">
  <div class="flex items-center gap-2 justify-between">
    <div class=" flex flex-col w-50 pr-2 gap-2">
      <img class="w-12 h-12 rounded-full" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="User avatar">
      <span class="text-white text-sm">Usuário</span>
      <span class="text-gray-400 text-xs"> &#64;usuário</span>
      <span class="text-gray-400 text-xs">1.000.000 seguidores - 2 seguidos</span>

      <span class="text-white text-sm">Bio do usuário.</span>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white text-sm outline-none font-bold py-1 px-1 rounded-full">Editar
        perfil</button>
    </div>
  </div>
</div>